li{
  padding-top: 5px;
  display:inline-block;
}

li::after{
  content:' | ';
}

.logo {
  left: 40px;
  height:70px;
  border: 2px solid black;
  border-radius:60%;
  position:absolute;
}

nav{
    position:fixed;
    border: 1px solid black;
	  padding-top: 15px;
  	padding-left: 120px;
  	text-align: left;
  	height: 100px;
  	width:100%;
  	background-color:grey;
}

html { 
  background: url(../images/outerspace_landscape.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size:cover;
}

.cat{
  position:absolute;
  top:-150px;
  left:-100px;
}

.dog{
  position:absolute;
  top:180px;
  left:450px;
}

body main .centerDiv {
  position:relative;
  left:900px;
  top:300px;
  width:600px;
  height:300px;
  border: 10px dotted green;
}

